In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
%matplotlib inline

In [2]:
df_red=pd.read_csv('winequality-red.csv',delimiter=';')

In [3]:
df_white=pd.read_csv('winequality-white.csv',delimiter=';')

In [4]:
df_red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
df_white

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [11]:
# removing the duplicates rows in red wine's table
df_red.drop_duplicates(inplace=True)

In [12]:
df_red.shape

(1359, 12)

In [13]:
# removing the duplicates rows in white wine's table
df_white.drop_duplicates(inplace=True)

In [14]:
df_white.shape

(3961, 12)

In [15]:
# calculating the quality median for the two tables
print(df_red['quality'].median())
print(df_white['quality'].median())

6.0
6.0

In [16]:
# change the label for red and white wine's tables
# red wine
df_red['target']=np.where(df_red['quality']<6,0,1)

# white wine
df_white['target']=np.where(df_white['quality']<6,0,1)

In [17]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,target
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,0

In [18]:
# dropping quality column in red wine's table
df_red.drop('quality',axis=1,inplace=True)

In [19]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,target
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,1

In [20]:
# dropping quality column in white wine's table
df_white.drop('quality',axis=1,inplace=True)

In [21]:
# checking that the data is balanced
df_red['target'].value_counts()/len(df_red)

1    0.529065
0    0.470935
Name: target, dtype: float64

In [22]:
# checking that the data is balanced
df_white['target'].value_counts()/len(df_white)

1    0.659682
0    0.340318
Name: target, dtype: float64

In [23]:
df_white = pd.concat([df_white,df_white[df_white['target']==0]],axis=0)

In [24]:
# checking that the data is balanced
df_white['target'].value_counts()/len(df_white)

0    0.507817
1    0.492183
Name: target, dtype: float64

In [25]:
# defining the features and the target
# red
X_red = df_red.iloc[:,0:-1]
y_red = df_red.iloc[:,-1]

# wine
X_white = df_white.iloc[:,0:-1]
y_white = df_white.iloc[:,-1]

In [26]:
print(X_white.shape,y_white.shape)

(5309, 11) (5309,)

In [27]:
df_white['target'].value_counts()

0    2696
1    2613
Name: target, dtype: int64

In [28]:
df_white.shape

(5309, 12)

In [29]:
# calculating the VIF for features selections

In [30]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [31]:
# For each X, calculate VIF and save in dataframe

# red
vif_red = pd.DataFrame()
vif_red["VIF Factor"] = [variance_inflation_factor(X_red.values, i) for i in range(X_red.shape[1])]
vif_red["features"] = X_red.columns

In [32]:
# white
vif_white = pd.DataFrame()
vif_white["VIF Factor"] = [variance_inflation_factor(X_white.values, i) for i in range(X_white.shape[1])]
vif_white["features"] = X_white.columns

In [33]:
vif_red.to_csv('vif_red.csv')

In [34]:
vif_white.to_csv('vif_white.csv')

In [35]:
# choosing the features
vif_red

     VIF Factor              features
0     75.023032         fixed acidity
1     16.460387      volatile acidity
2      9.188892           citric acid
3      4.915733        residual sugar
4      6.349793             chlorides
5      6.432241   free sulfur dioxide
6      6.543918  total sulfur dioxide
7   1500.387873               density
8   1095.732046                    pH
9     21.946341             sulphates
10   123.097449               alcohol

In [36]:
vif_white

     VIF Factor              features
0     87.330438         fixed acidity
1      9.320953      volatile acidity
2      9.432876           citric acid
3      3.550804        residual sugar
4      5.559495             chlorides
5      8.720956   free sulfur dioxide
6     24.458012  total sulfur dioxide
7   1047.713415               density
8    617.913306                    pH
9     21.836436             sulphates
10   115.990947               alcohol

In [37]:
# drop the features that we don't need
X_red.drop(['density','pH','alcohol','fixed acidity'],axis=1, inplace=True)

X_white.drop(['density','pH','alcohol','fixed acidity'],axis=1, inplace=True)

In [38]:
X_red.shape

(1359, 7)

In [39]:
y_red.shape

(1359,)

In [40]:
# split the data into train and test
from sklearn.model_selection import train_test_split

X_red_train, X_red_test,y_red_train,y_red_test = train_test_split(X_red, y_red, test_size=0.20, random_state=42,stratify=y_red)

In [41]:
X_white_train, X_white_test,y_white_train,y_white_test = train_test_split(X_white, y_white, test_size=0.20, random_state=42,stratify=y_white)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
estimators = [('scaling', MinMaxScaler()),
              ('model', LogisticRegression())]
pipe = Pipeline(estimators)
param_grid = [
{'scaling':[StandardScaler(),MinMaxScaler(), None], 
 'model': [LogisticRegression()],
 'model__C':np.power(10.0, np.arange(-5, 5))},
{'scaling':[StandardScaler(),MinMaxScaler(), None], 
 'model': [SVC()],
 'model__C':np.power(10.0, np.arange(-5, 5)),
 'model__kernel':['rbf','linear','sigmoid'],
 'model__gamma':[1, 10, 100]}
]
grid_red = GridSearchCV(pipe, param_grid, cv=5, verbose=1, n_jobs=-1)
fittedgrid_red = grid_red.fit(X_red_train, y_red_train)

Fitting 5 folds for each of 300 candidates, totalling 1500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 664 tasks      | elapsed:    4.4s

In [ ]:
estimators = [('scaling', MinMaxScaler()),
              ('model', LogisticRegression())]
pipe = Pipeline(estimators)
param_grid = [
{'scaling':[StandardScaler(),MinMaxScaler(), None], 
 'model': [LogisticRegression()],
 'model__C':np.power(10.0, np.arange(-5, 5))},
{'scaling':[StandardScaler(),MinMaxScaler(), None], 
 'model': [SVC()],
 'model__C':np.power(10.0, np.arange(-5, 5)),
 'model__kernel':['rbf']}
]
grid_white = GridSearchCV(pipe, param_grid, cv=5, verbose=1, n_jobs=-1)
fittedgrid_white = grid_white.fit(X_white_train, y_white_train)

In [ ]:
fittedgrid_red.best_estimator_

In [ ]:
fittedgrid_red.score(X_red_test, y_red_test)

In [ ]:
fittedgrid_white.best_estimator_

In [ ]:
fittedgrid_white.score(X_white_test, y_white_test)